!!!
%html
	%head
		%title Twitterclone
		= stylesheet_link_tag		"application", media: "all", "data-turbolinks-track" => true
		= stylesheet_link_tag		"application", :media => "all"
		= stylesheet_link_tag		"flat-ui", :media => "all"
		= stylesheet_link_tag		"stylesheet", :media => "all"
		= javascript_include_tag		"application", "data-turbolinks-track" => true
		= csrf_meta_tags
		= csrf_meta_tags
	%body
		=yield